name: Build

on:
  push:
    branches: main
  pull_request:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install cachix
        uses: cachix/cachix-action@v16
        with:
          name: haskell-miso-cachix

      - name: Build WASM using Nix
        run: nix develop .#wasm --command bash -c "make all"

      - name: Clean and GC
        run: nix develop .#wasm --command bash -c "make clean" && nix-collect-garbage -d

      - name: Build JS using Nix
        run: nix develop .#ghcjs --command bash -c "make js"
